{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static',filename='css/filtred.css') }}">
<title>{{ filename }}</title>
{% endblock %}

{% block body %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Smart ETL Tool</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/extract">Extract</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/transform">Transform</a>
        </li>
        <li class="nav-item" style="padding-right: 60px;">
          <a class="nav-link" href="/load">Load</a>
        </li>
        <li class="nav-item" style="padding-right: 15px;">
          <a class="nav-link" href="#">{{ session['user']['name'] }}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/user/signout">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="content-body">
  <div class="container-fluid">
    <div class="row justify-content-between">
      <div class="box cyan">
        <h2>Problem Type</h2>
        <p>{{ problem }}</p>
        <img src="https://assets.codepen.io/2301174/icon-supervisor.svg" alt="">
      </div>
      <!-- <div class="card">
          <div class="stat-widget-two card-body">
            <div class="stat-content">
              <div class="stat-text">Problem Type </div>
              <div class="stat-digit"> <i class="fa fa-usd"></i>{{ problem }}</div>
            </div>
          </div>
        </div> -->
      <div class="box red">
        <h2>Features</h2>
        <p>{{X.shape[1]}}</p>
        <img src="https://assets.codepen.io/2301174/icon-team-builder.svg" alt="">
      </div>
      <!-- <div class="card">
          <div class="stat-widget-two card-body">
            <div class="stat-content">
              <div class="stat-text">Features number</div>
              <div class="stat-digit"> <i class="fa fa-usd"></i>{{X.shape[1]}}</div>
            </div>
          </div>
        </div> -->
      <div class="box blue">
        <h2>Rows</h2>
        <p>{{X.shape[0]}}</p>
        <img src="https://assets.codepen.io/2301174/icon-calculator.svg" alt="">
      </div>
      <!-- <div class="card">
          <div class="stat-widget-two card-body">
            <div class="stat-content">
              <div class="stat-text">Rows number</div>
              <div class="stat-digit"> <i class="fa fa-usd"></i>{{X.shape[0]}}</div>
            </div>
          </div>
        </div> -->
      <div class="box orange">
        <h2>Target name</h2>
        <p>{{y.name}}</p>
        <img src="https://assets.codepen.io/2301174/icon-karma.svg" alt="">
      </div>
      <!-- <div class="card">
          <div class="stat-widget-two card-body">
            <div class="stat-content">
              <div class="stat-text">Target name</div>
              <div class="stat-digit"> <i class="fa fa-usd"></i>{{y.name}}</div>
            </div>
          </div>
        </div> -->
      <!-- /# card -->
      <!-- /# column -->
    </div>
    <div class="row">
      <div class="col-xl-12 col-lg-12 col-md-12">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title">First 5 rows of your data</h4>
          </div>
          <div class="card-body">
            <div class="col-xl-12 col-lg-12">
              <div>
                <div class="container-fluid" style="align-items: center; padding-top: 30px;">
                  {{ table | safe }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-8 col-lg-8 col-md-8">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title">Mutual infomation scores</h4>
          </div>
          <div class="card-body">
            <div class="col-xl-12 col-lg-8">
              <div>
                <img src="{{ url_for('static',filename=path) }}" class="img-fluid">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-4">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title">Scores</h4>
          </div>
          <div class="card-body text-center">
            <i class="ti-control-shuffle pa" style="text-align: start;">
              {% for i in range(0,length) %}
              <p>{{scores.index[i]}}: {{scores[i]}}</p>
              {% endfor %}
            </i>
          </div>
        </div>
      </div>
    </div>
    <div class="row" style="padding-bottom: 30px; padding-left: 12px; padding-right: 12px;">
      <div class="card">
        <div class="row justify-content-between" style="padding-bottom: 30px; padding-left: 30px; padding-right: 30px;">
          <a class="btn btn-primary btn-block" onclick="activate()" id="filter" style="padding-top: 10px;"
            href="/transform/filter/{{ name }}/done!" role="button">Filter your data</a>
          <a class="btn btn-primary btn-block disabled" id="download" style="padding-top: 10px;"
            href="/transform/filter/{{ name }}/download" role="button" aria-disabled="true">Download new data</a>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}