{% extends 'base.html' %}

{% block head %}
<title>Extract</title>
{% endblock %}

{% block body %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Smart ETL Tool</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/extract">Extract</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/transform">Transform</a>
                </li>
                <li class="nav-item" style="padding-right: 60px;">
                    <a class="nav-link" href="/load">Load</a>
                </li>
                <li class="nav-item" style="padding-right: 15px;">
                    <a class="nav-link" href="#">{{ session['user']['name'] }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/user/signout">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container" style="padding-top: 100px; padding-left: 40px;">
    <p style="text-align: start; font-weight: bold;color: #303D40; font-size: 30px;">
        Select source
    </p>
</div>
<div class="source" style="margin-top: 80px ;padding-left:100px;">
    <ul class="sources" style="list-style-type: none">
        <li class="source-item"
            style=" width: 150px;
        height: 150px;float: left;margin: 10px ;padding: 3px;display: inline;background-color: #838573;border-radius: 20px;">
            <div class="center">
                <img src="{{ url_for('static',filename='images/MySQL.png') }}" class="img-fluid" alt="MySql"
                    style="padding-top: 20px;">

            </div>

        </li>
        <li class="container "
            style=" width: 150px;
        height: 150px;float: left;margin: 10px ;padding: 3px;display: inline;background-color: #838573;border-radius: 20px;">
            <div class="center">
                <img src="{{ url_for('static',filename='images/Firebird.png') }}" class="img-fluid" alt="Firebird"
                    style="
            max-width: 120px; transform: translate(12px,12px);">

            </div>

        </li>
        <li class="container" id="cont1"
            style=" width: 150px;
        height: 150px;float: left;margin: 10px ;padding: 3px;display: inline;background-color: #838573;border-radius: 20px;">
            <div class="center">
                <input onclick="show_hide()" type="image" src="{{ url_for('static',filename='images/csv.png') }}" class="img-fluid" name="submit" style="
                max-width:120px; transform: translate(12px,12px);" alt="submit">
            </div>
        </li>
        <li class="container" id="cont2"
            style=" width: 420px;
        height: 150px;float: left;margin: 10px ;padding: 3px;display: inline;background-color: #838573;border-radius: 20px;">
            <div class="center">
                <input onclick="show_hide()" type="image" src="{{ url_for('static',filename='images/csv.png') }}" class="img-fluid" name="submit" style="
                max-width: 50px; transform: translate(12px,12px);" alt="submit">
            </div>
            <form method='POST' enctype='multipart/form-data'>
                {{form.hidden_tag()}}
                {{form.file()}}
                {{form.submit()}}
            </form>
        </li>
    </ul>


</div>
{% endblock %}