{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static',filename='css/mysql.css') }}">
<title>MySQL</title>
{% endblock %}

{% block body %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Smart ETL Tool</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/extract">Extract</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/transform">Transform</a>
        </li>
        <li class="nav-item" style="padding-right: 60px;">
          <a class="nav-link" aria-current="page" href="/load">Load</a>
        </li>
        <li class="nav-item" style="padding-right: 15px;">
          <a class="nav-link" href="#">{{ session['user']['name'] }}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/user/signout">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="content-body">
  <div class="container-fluid">
    <div class="row justify-content-between" >
      <div class="box cyan" style="background-color: hsl(0, 0%, 98%);">
        <h2>Database name</h2>
        <br>
        <p>name</p>
        <img src="https://cdn-icons-png.flaticon.com/512/148/148825.png" height="60px" alt="">
      </div>


      <div class="box red" style="background-color: hsl(0, 0%, 98%);" >
        <h2>Tables</h2>
        <br>
        <p>num tables</p>
        <img src="https://cdn-icons-png.flaticon.com/512/2535/2535554.png" height="60px" alt="">
      </div>

  </div>
  <div class="row">
    <div class="col-xl-8 col-lg-8 col-md-8">
      <div class="card orange">
        <h2 class="card-title">Class Diagram</h2>
        <div class="card-body">
          <div class="col-xl-12 col-lg-8">
            <div>
              <img src="https://cdn-icons-png.flaticon.com/512/2535/2535554.png" class="img-fluid">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row" style="padding-bottom: 30px; padding-left: 12px; padding-right: 50px;">
      <div class="card orange">
        <div class="row justify-content-between" style="padding-bottom: 30px; padding-left: 1050px; padding-right: 30px;">
          <a class="btn btn-primary btn-block" onclick="activate()" id="filter" style="padding-top: 10px;"
            href="/transform/filter/{{ name }}/done!" role="button">Proceed to the transformation</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}